<div class="container">

    <div class="Header">
        <h3 class="text-center"> Angular Forms Pluralsight </h3>
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
        <!-- Name Form control -->
    <div class="form-group">

        <label for="Name">Name</label>

        <input type="text"  name="Name" placeholder="Name" class="form-control" 
            [(ngModel)]="userSettings.name"  #nameField="ngModel" 
            [class.field-error]= "form.submitted && nameField.invalid" required>

            <div [hidden]= " !form.submitted || nameField.valid" class="alert alert-danger">
                Enter Your Name
            </div>
    </div>
    <!-- <h3> ng-touched: {{ nameField.touched }}</h3>
    <h3> ng-untouched: {{ nameField.untouched }}</h3>
    <h3> ng-pristine : {{ nameField.pristine  }}</h3>
    <h3> ng-dirty: {{ nameField.dirty }}</h3>
    <h3> ng-valid: {{ nameField.valid }}</h3>
    <h3> ng-invalid: {{ nameField.invalid }}</h3> -->

    <div class="form-check form-group">
        <input class="form-check-input" type="checkbox" name="emailoffer" id="defaultCheck1" 
        [(ngModel)]= "userSettings.emailOffer">
        <label class="form-check-label" for="defaultCheck1">
            Email Offer
        </label>
    </div>

    <h5>User Interface Style</h5>
    <div class="form-group">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="interfacestyle" value="light" id="exampleRadios1" checked  [(ngModel)]= "userSettings.interfaceStyle">
        <label class="form-check-label" for="lightinterface">
            Light
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="interfacestyle" value="medium" id="exampleRadios2"  [(ngModel)] = "userSettings.interfaceStyle">
        <label class="form-check-label" for="meduiminterface">
            Medium
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="interfacestyle" value="dark" id="exampleRadios3"   [(ngModel)] = "userSettings.interfaceStyle">
        <label class="form-check-label" for="darkinterface">
            Dark
        </label>
    </div>
    </div>

    <div class="form-group">
        <label for="subscriptionType">Subscription Type</label>
        <select class="form-control" id="subscriptionType" name="subscriptionType"  [(ngModel)] = "userSettings.subscriptionType">
            <option *ngFor=" let type of subscribtionTypes | async "> {{type}} </option>
          
        </select>
  </div>

  <div class="form-group">
      <label for="notes">Notes</label>
      <textarea class="form-control" id="notes" name="notes" rows="3" [(ngModel)] = "userSettings.notes" ></textarea>
  </div>
  <!-- <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password"  ngModel>
    </div> -->
    <div [hidden] = '!postError' class="alert alert-danger">{{ postErroeMesaage }}</div>
    <button class="btn btn-primary ">Submit</button>
</form>
</div>

<!-- {{ userSettings | json }} -->